@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

.home {
    background-color: white;
    height: 80vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-section {
    width: 300px;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.profile-section-info {
    display: flex;
    align-items: center;
}

.profile-name {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    height: 32px;
}

.personal-links {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    height: 16px;
}

.biography {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.project-list {
    width: 33vw;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    border-radius: 50%;
}

ul {
    list-style: none;
}

.profile-picture {
    display: block;
    width: 300px;
    height: 300px;
}

.project-picture {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.project-spacer {
    width: 35px;
}

.project-item {
    display: flex;
    justify-content: flex-start;
}

.project-information {
    width: 24vw;
    padding-top: 10px;
}

.project-title {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.project-description {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: #892cf4;
    text-decoration: none;
}

a:hover, a:active {
    color: white;
    background-color: blue;
    text-decoration: none;
}
