.home {
    background-color: white;
    height: 80vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-section {
    width: 550px;
    padding: 50px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.profile-name {
    width: 300px;
    text-align: center;
}

.biography {
    text-align: right;
}

.project-list {
    width: 550px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

img {
    border-radius: 50%;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 15px;
}

.profile-picture {
    display: block;
    width: 300px;
    height: 300px;
}

.project-picture {
    display: block;
    width: 100px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.project-spacer {
    width: 35px;
}

.project-item {
    display: flex;
    justify-content: flex-start;
}

.project-information {
    width: 400px;
}

.project-title {
    font-size: 18px
}

.project-description {
    font-size: 14px
}
