.home {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-section {
    width: 550px;
    padding: 15px;
}

.project-list {
    width: 550px;
    padding: 15px;
}
