@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav-link {
    margin: 10px;
}

.nav-link li a {
    font-weight: bold;
    font-size: 18pt;
}

.nav-link li a:link {
    color: black;
}

.nav-link li a:visited {
    color: black;
}

.nav-link li a:hover {
    color: grey;
}

a {
    text-decoration: none;
}

a:link {
    color: #95A7B3;
}

a:visited {
    color: #95A7B3;
}

a:hover {
    color: grey;
}

#current-page li a {
    color: #BB865A !important;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.profile {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.profile-picture {
    max-width: 300px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 10px;
    border: 3px solid #BB865A;
}

.quick-links {
    text-align: center;
    font-size: 13pt;
}

.short-bio p {
    text-align: center;
    font-size: 13pt;
}

.showcase {
    max-width: 600px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.showcase-section-title {
    display: inline;
}

.showcase-section-title h2 {
    margin-right: 10px;
}

.publications-short-list {
    padding-left: 30px;
}

.publication-link {
    font-size: 13pt;
}

.projects-short-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-preview {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-preview-image {
    max-width: 150px;
    border-radius: 50%;
    border: 3px solid #BB865A;
}

.project-link {
    font-size: 13pt;
}

.view-all-button {
    text-align: center;
    font-size: 11pt;
}

.full-publications-list {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    max-width: 1000px;
    margin-top: 40px;
}

.publication-item {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.toc-image {
    width: 350px;
}

.publication-title p{
    font-size: 15pt;
}

.full-projects-list {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    max-width: 1000px;
    margin-top: 40px;
}

.project-item {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-image {
    width: 200px;
}

.project-title p{
    font-size: 15pt;
}

.scioly-wrapper {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

/* Mobile styles (phones) */
@media (max-width: 767px) {
    body {
        padding: 0 15px;
    }

    .nav-items {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .nav-link li a {
        font-size: 14pt;
    }

    .home {
        flex-direction: column;
    }

    .projects-short-list {
        flex-direction: column;
        align-items: center;
    }

    .publication-item {
        flex-direction: column;
        align-items: center;
    }

    .toc-image {
        width: 100%;
        max-width: 350px;
    }

    .project-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .project-image {
        width: 100%;
        max-width: 200px;
    }

    .full-publications-list,
    .full-projects-list {
        padding: 0 10px;
    }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
    .toc-image {
        width: 250px;
    }

    .project-image {
        width: 150px;
    }
}
