---
layout: default
---

<ul class="scioly-list">
  {%- for event in site.data.scioly -%}
    <li class="event-item">
      <div class="event-information">
        <ul style="list-style-type:none;">
          <li>
            <h2 class="event-title"> 
              {{ event.event | default: "None" }}
            </h2>
          </li>
          <li>
            <h2 class="event-tournament"> 
              {{ event.tournament | default: "Nowhere" }}
            </h2>
          </li>
        </ul> 
        <ul style="list-style-type:none;">
          <li><a href="{{ event.exam-url | default: "https://taleff.github.io" }}">Exam</a></li>
          <li><a href="{{ event.answer-sheet-url | default: "https://taleff.github.io" }}">Answer Sheet</a></li>
          <li><a href="{{ event.key-url | default: "https://taleff.github.io" }}">Key</a></li>
          <li><a href="{{ event.results-url | default: "https://taleff.github.io" }}">Results</a></li>
        </ul> 
      </div>
      <img src="{{ event.results-box }}" class="event-results-box">
    </li>
  {%- endfor -%}
</ul>
